/* ------------- =General -------------- */

html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}
/* ------------- =Masthead -------------- */

nav a {
  font-weight: bold;
  font-size: 1.125rem;
  color: #793284;
  font-family: "Patua One", cursive;
}

nav a:hover {
  color: #b42885;
}

li {
  list-style-type: none;
}
/* ------------- =Headings -------------- */

h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One", cursive;
}

/* -------------- =Image --------------- */

figcaption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}
