/* ------------- =General -------------- */
html {
  background-color: #f2f1ed;
  font-family: "Georgia", serif;
  line-height: 1.5;
}
/* ------------- =Masthead -------------- */

.nav {
  list-style-type: none;
  font-weight: bold;
  font-size: 1.125rem
  color: #793284
}

.nav a:hoover {
  color:#b42885
}
/* ------------- =Headings -------------- */

h2{
  color: #5d8432;
  text-transform: uppercase;
}

/* -------------- =Image --------------- */

figcaption{
  font-size: 4 rem;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}
