/* ------------- =General -------------- */
html {
  background-color: #f2f1ed;
  font-family: "Georgia", serif;
  line-height: 1.5;
}
/* ------------- =Masthead -------------- */

li{
list-style-type: none;
}

/* --------------- =List ---------------- */

h2{
  color: #5d8432;
  text-transform: uppercase;
}

/* ------------- =Headings -------------- */

figcaption{
  font-size: 4 rem;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

/* ------------- =Headings -------------- */
